<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="header">
        <h1>Rally Cat's Cupboard Inventory</h1>
        <img src="{{ url_for('static', filename='rally_cat_cupboard.png') }}" alt="Logo" class="logo">
    </div>
    <br><hr>
    <form id="inventory-form" method="post">
        <div class="add_remove">
            <input type="text" name='name'placeholder="Name" required>
            <input type="text" name='quantity'placeholder="Quantity" required>
            <input type="text" name='expiration-date' placeholder="Expiration Date" required>
            <input type="text" name='location'placeholder="Location" required>
            <button type="submit" name="submit_type" id="add-button" value="add">add</button>
        </div>
    </form>

    <hr>
        <form id="search-bar" method="post">
            <div class="searchbar">
                <input type="text" name="search_query" placeholder="Search">
                <button name = "submit_type" value="search"id="search-button">search</button>
            </div>
        </form>
    <hr>
    <form id="expire-filter" method="post">
        <div class="expirefilter">
            <button name = "submit_type" value="expire_filter"id="expire-filter-button">Sort By Expiration Date</button>
        </div>
    </form>
    <form id="stock-form" method="post">
        <div class="stockform">
            <h1>data table will go here...</h1>
            {% if results %}
            <ul>
                {% for result in results%}
                    <input type="radio" id="{{ result }}" name="stock_item" value="{{ result }}">
                    <label for="{{ result }}">{{ result }}</label><br>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <input type="number" name="num_taken" placeholder="Quantity Taken" required>
        <button type="submit" name="submit_type" id="remove-button" value="remove">remove</button>
    </form>
</body>
</html>