<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="header">
        <h1>Rally Cat's Cupboard Inventory</h1>
        <img src="{{ url_for('static', filename='rally_cat_cupboard.png') }}" alt="Logo" class="logo">
    </div>
    <br><hr>
    <form id="inventory-form" method="post">
        <div class="add_remove">
            <input type="text" name='name'placeholder="Name" required>
            <input type="text" name='quantity'placeholder="Quantity" required>
            <input type="text" name='expiration-date' placeholder="Expiration Date" required>
            <input type="text" name='location'placeholder="Location" required>
            <button type="submit" name="add" id="add-button">add</button>
            <button type="submit" name="remove" id="remove-button">remove</button>
        </div>
    </form>

    <hr>

    <!--- SEARCHBAR
    <div class="searchbar">
        <input type="text" placeholder="Search">
        <button id="search-button">search</button>
    </div>
    <hr>
    -->

    <div class="dataset">
        <h1>data table will go here...</h1>
        {% if results %}
        <ul>
            {% for result in results%}
                <input type="radio" id="{{ result }}" name="stock_item" value="{{ result }}">
                <label for="{{ result }}">{{ result }}</label><br>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>