<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Inventory</title>
</head>
<body>
    <a href="./subpage">Add New Food Type</a>
    <br><br>
    <div class="add_remove">
        <input type="text" placeholder="Name" required>
        <input type="text" placeholder="Quantity" required>
        <input type="text" placeholder="Expiration Date" required>
        <input type="text" placeholder="Quantity" required>
        <button id="add-button">add</button>
        <button id="add-button">remove</button>
    </div>
    <hr>
    <div class="searchbar">
        <input type="text" placeholder="Search">
        <button id="search-button">search</button>
    </div>
    <hr>
    <div class="dataset">
        <h1>data table will go here...</h1>
    </div>
</body>
</html>