<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/">
    <title>Item Inventory</title>
</head>
<body>
    <form id="inventory-form" method="post">
        <div class="add_remove">
            <input type="text" name='test'placeholder="Name" required>
            <br>

            <input type="text" placeholder="Food Type" required>
            <br>

            <input type="checkbox" label="allergensCheckbox">
            <label for="allergensCheckbox">Allergens</label>
            <br>

            <input type="checkbox" label="kosherCheckbox">
            <label for="kosherCheckbox">Kosher</label>
            <br>

            <input type="checkbox" label="hallalCheckbox">
            <label for="hallalCheckbox">Hallal</label>
            <br>

            <input type="checkbox" label="vegetarianCheckbox">
            <label for="vegetarianCheckbox">Vegetarian</label>
            <br>

            <input type="checkbox" label="veganCheckbox">
            <label for="veganCheckbox">Vegan</label>
            <br>

            <button id="new-item-submit-button">submit</button>
            
        </div>
    </form>
</body>
</html>